* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "open sans", sans-serif;
}


header {
    height: 120px;
}

.container_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    background-color: #fff;
}

.lista_Header ul {
    display: flex;
}

.lista_Header li {
    list-style: none;
    margin: 0 10px;
}

.lista_Header a {
    text-decoration: none;
    color: #000;
}

.lista_Header a:hover {
    color: blue;
    border-bottom: blue 3px solid;
    padding-bottom: 42px;
}

.container_Top {
    background-color: #000;
    color: #fff;
    padding: 30px 80px;
}

.container_down {
    background-color: blue;
    color: #fff;
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    align-items: center;
}

.card img {
    max-width: 20%;
    height: auto;
}

.card a {
    color: #fff;
    text-decoration: none;
}