* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "open sans", sans-serif;
}


header {
    height: 100px;
}

.container_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    background-color: #fff;
    height: 100%;
}

.container_Header div img {
    max-width: 80px;
}

.lista_Header {
    height: 100%;
}

.lista_Header ul {
    display: flex;
    height: 100%;
}

.lista_Header li {
    list-style: none;
    margin: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista_Header li:hover {
    border-bottom: #0282f9 3px solid;

}

.lista_Header a {
    text-decoration: none;
    color: #000;
}

.lista_Header a:hover {
    color: #0282f9;
}

.container_Top {
    background-color: #000;
    color: #fff;
    padding: 30px 80px;
    height: 180px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.container_down {
    background-color: #0282f9;
    color: #fff;
    padding: 30px 120px;
    display: flex;
    justify-content: center;
    column-gap: 180px;
    z-index: 8000;
    position: relative;
}

.card {
    display: flex;
    align-items: center;
}

.card img {
    max-width: 35px;
    height: auto;
}

.card a {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    width: 150px;
    margin-left: 15px;
}

.container_Ftop {
    background-image: url("../footer-bg.jpg");
    background-size: cover;
    color: #fff;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_Fleft {
    max-width: 30%;
    display: flex;
    flex-wrap: wrap;
}

.info {
    margin: 10px;
}

.info li {
    list-style: none;
    margin: 10px 0;
}

.info a {
    text-decoration: none;
    color: lightgray;
}

.container_Fright {
    margin: -80px;
    margin-right: 50px;
}

.container_Fright img {
    height: 600px;
}

.container_fdown {
    background-color: rgb(31, 30, 30);
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    z-index: 9000;
    position: relative;
}

.social {
    display: flex;
}

.social ul {
    display: flex;
}

.social li {
    list-style: none;
    margin: 0 10px;
}

.social h2 {
    color: #0282f9;
    margin: 0 10px;
}

.bottone {
    padding: 10px 10px;
    border: #0282f9 1px solid;
    background-color: rgb(31, 30, 30);
    color: #fff;
}